@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


/* #263354
   #1D2740
   #141B2B
   #11141C

   #022340
   #143959
   #123457
   #274F73
   #496D91
*/
 
:root {
    --cor0: #263354;
    --cor1: #1D2740;
    --cor2: #141B2B;
    --cor3: #11141C;
    --cor4: #022340;
    --cor5: #143959;
    --cor6: #123457;
    --cor7: #274F73;
    --cor8: #496D91; 

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Oswald', sans-serif;;
}

* {
margin: 0;
padding: 0;
}

body {
    background-color: var(--cor7);
    font-family: var(--fonte-destaque);
}

main {
    background-color: var(--cor3);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.80);
    border-radius: 2px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
    min-height: 100px;
    padding-top: 50px;
    border-top:  var(--cor3); 
    font-family: var(--fonte-destaque);
}

header h1 { 
    color: #fff;
    font-family:'Oswald', sans-serif;
    text-align: center;
    padding-bottom: 4%;
}

header a {
    padding: 5px 5px 1px 5px;
    margin: 8px;
    font-size: 20px;
    text-decoration: none;
    transition: 400ms;
    color: white;
    border-radius: 3px;
}

a {
text-decoration: none;
font-size: 1.5em;
color: white;
padding: 10px;
margin: 8px;
font-size: 20px;
transition: 400ms;
border-radius: 3px;
}

a:hover {
    background-color: var(--cor8);
    color: var(--cor3);
}

img {
    width: 100%;
    max-width: 350px;
    display: flex;
    margin: auto;
}

p {
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 25px;
    padding-top: 20px ;
}

img {
    border:solid white 3px;
    border-radius: 25px;  
}

.q3 {
    padding-bottom: 25px;
}

footer a{
    transition: 400ms;
    text-decoration: none;
    padding:1px 10px 10px 10px;
    
    margin: 4px;
    color: white;
    font-family: var(--fonte-destaque);
}

footer {
    background-color: var(--cor3);
    padding-bottom: 15px;
}